In [5]:
import numpy as np 
import pandas as pd

In [3]:
dataset = pd.read_csv("Assignment5.csv", names= ['employee','works_under'])

In [4]:
dataset

  employee works_under
0      Ram       Shyam
1    Shyam       Harry
2    Harry        Lucy
3     Lucy        Shiv
4     Shiv        Shiv
5     Jake        Hana
6     Hana       Beast
7    Beast       Beast
8    Shady       Shady
9      Nox         Nox

In [6]:
 mydata = dict(zip(dataset.employee,dataset.works_under))
mydata

{'Beast': 'Beast',
 'Hana': 'Beast',
 'Harry': 'Lucy',
 'Jake': 'Hana',
 'Lucy': 'Shiv',
 'Nox': 'Nox',
 'Ram': 'Shyam',
 'Shady': 'Shady',
 'Shiv': 'Shiv',
 'Shyam': 'Harry'}

In [15]:
result =[]
for name in mydata :
    temp = []
    temp.append(name)
    junior = mydata[name];
    while junior !=mydata[junior] :
        temp.append(junior)
        junior = mydata[junior]
        if junior == mydata[junior]:
            temp.append(junior)
    result.append(temp)

df = pd.DataFrame(result)
df

       0      1      2     3     4
0    Ram  Shyam  Harry  Lucy  Shiv
1  Shyam  Harry   Lucy  Shiv  None
2  Harry   Lucy   Shiv  None  None
3   Lucy   None   None  None  None
4   Shiv   None   None  None  None
5   Jake   Hana  Beast  None  None
6   Hana   None   None  None  None
7  Beast   None   None  None  None
8  Shady   None   None  None  None
9    Nox   None   None  None  None